{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Tables - Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'assets/css/ready.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

</head>

<body>
<div class="wrapper" style="background:#f2f3f8">
    <header class="main-header">
        <div class="logo-header">
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <nav class="navbar navbar-header navbar-expand-lg"></nav>
    </header>

    <aside class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
            <div class="logo-header">
                <div class="user-box mx-1">
                    <div class="u-img">
                        <img class="rounded-circle" src="{% static 'assets/img/profile.jpg' %}" alt="Profile picture of {{ request.user.username }}">
                    </div>
                    <div class="u-text">
                        <h4 style="color: #575962;">{{ request.user.username }}</h4>
                        <p style="color: #575962;">{{ request.user.email }}</p>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item active">
                    <a href="/records/">
                        <i class="la la-th"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i> <!-- Font Awesome logout icon with inline color -->
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</div>


    <script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/chartist/chartist.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery-mapael/jquery.mapael.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery-mapael/maps/world_countries.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/chart-circle/circles.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/ready.min.js' %}"></script>

    <script>
        $('#displayNotif').on('click', function () {
            var placementFrom = $('#notify_placement_from option:selected').val();
            var placementAlign = $('#notify_placement_align option:selected').val();
            var state = $('#notify_state option:selected').val();
            var style = $('#notify_style option:selected').val();
            var content = {};

            content.message = 'Turning standard Bootstrap alerts into "notify" like notifications';
            content.title = 'Bootstrap notify';
            if (style == "withicon") {
                content.icon = 'la la-bell';
            } else {
                content.icon = 'none';
            }
            content.url = 'index.html';
            content.target = '_blank';

            $.notify(content, {
                type: state,
                placement: {
                    from: placementFrom,
                    align: placementAlign
                },
                time: 1000,
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-button');
            deleteButtons.forEach(button => {
                button.addEventListener('click', function (event) {
                    event.preventDefault();
                    const itemId = button.dataset.itemId;
                    const csrfToken = button.dataset.csrfToken;

                    bootbox.confirm({
                        message: "Are you sure you want to delete this record?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-danger'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-secondary'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                // If the user confirms, make an AJAX request to delete the record
                                fetch('{% url "record_delete" 0 %}'.replace('0', itemId), {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-CSRFToken': csrfToken
                                    },
                                    body: JSON.stringify({ id: itemId })
                                })
                                    .then(response => {
                                        if (response.ok) {
                                            // Reload the page after successful deletion
                                            location.reload();
                                        } else {
                                            // Handle error response
                                            console.error('Error deleting record');
                                        }
                                    })
                                    .catch(error => {
                                        console.error('Error deleting record:', error);
                                    });
                            }
                        }
                    });
                });
            });
        });
    </script>

</body>

</html>
