{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Dashboard</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <button class="green-button"
                                style="background-color: #00b359; width:100px; height: 40px;border-radius: 20px; color:white; border: none; font-family: nunito, sans-serif; font-size: 14px;">
                                <a style="color: white" href="{% url 'record_create' %}">Add New</a>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mt-3">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Activity</th>
                                            <th scope="col">Hours</th>
                                            <th scope="col">Travel</th>
                                            <th scope="col">Mileage</th>
                                            <th scope="col">Wait</th>
                                            <th scope="col">Travel</th>
                                            <th scope="col">Expense</th>
                                            <th scope="col">Comments</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in records %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.date }}</td>
                                            <td>{{ item.activity }}</td>
                                            <td>{{ item.hours }}</td>
                                            <td>{{ item.travel }}</td>
                                            <td>{{ item.mileage }}</td>
                                            <td>{{ item.wait }}</td>
                                            <td>{{ item.travel }}</td>
                                            <td>{{ item.expense }}</td>
                                            <td>
                                                <p style="display: -webkit-box; max-width: 200px; -webkit-line-clamp: 3;
                                                    -webkit-box-orient: vertical; overflow: hidden;">{{ item.comments }}
                                                </p>
                                            </td>
                                            <td>
                                                <span style="display: flex; gap:5px;">
                                                    <button class="green-button"
                                                        style="background-color: #00b359;  width:30px; height: 30px;border-radius: 50%; display:flex; justify-content:center; align-items: center; border: none;">
                                                        <a style="width: 18px; height: 18px;"
                                                            href="{% url 'record_edit' item.id %}">
                                                            <svg fill="white" height="18" width="18"
                                                                class="edit-svgIcon" viewBox="0 0 512 512">
                                                                <path
                                                                    d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </button>
                                                    <button class="green-button delete-button"
                                                        style="background-color: #ff6666; width:30px; height: 30px;border-radius: 50%; display:flex; justify-content:center; align-items: center; border: none;"
                                                        data-item-id="{{ item.id }}"
                                                        data-csrf-token="{{ csrf_token }}">
                                                        <a style="width: 20px; height: 20px;">
                                                            <svg class="svg" height="20" viewBox="0 0 512 512"
                                                                width="20"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <title></title>
                                                                <path
                                                                    d="M112,112l20,320c.95,18.49,14.4,32,32,32H348c17.67,0,30.87-13.51,32-32l20-320"
                                                                    style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px">
                                                                </path>
                                                                <line
                                                                    style="stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                                                                    x1="80" x2="432" y1="112" y2="112"></line>
                                                                <path
                                                                    d="M192,112V72h0a23.93,23.93,0,0,1,24-24h80a23.93,23.93,0,0,1,24,24h0v40"
                                                                    style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px">
                                                                </path>
                                                                <line
                                                                    style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
                                                                    x1="256" x2="256" y1="176" y2="400"></line>
                                                                <line
                                                                    style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
                                                                    x1="184" x2="192" y1="176" y2="400"></line>
                                                                <line
                                                                    style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
                                                                    x1="328" x2="320" y1="176" y2="400"></line>
                                                            </svg>
                                                        </a>
                                                    </button>
                                                </span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
